<?xml version="1.0" ?>
<Settings>
	<!-- ЗАГРУЗКА СИСТЕМНЫХ РЕСУРСОВ -->
	<!-- Изображения -->
	<Resources type="Image" directory="content\textures">
		<Resource name="icon" ext="png" />
	</Resources>
	
	<!-- Шрифты -->
	<Resources type="Font" directory="content\fonts">
		<Resource name="pixel_font" ext="ttf"/>
	</Resources>
	
    <!-- Настройки окна -->
    <GameWindow>
        <Window name="Test level" w="1280" h="720" vSynch="false" icon="icon" />
    </GameWindow>
	
	<!-- Игровые уровни -->
	<Levels directory="content\levels" >
		<StartLevel name="test_level"/>
	</Levels>
</Settings>