<?xml version="1.0" ?>
<Settings>
	<!-- ЗАГРУЗКА РЕСУРСОВ -->
	<!-- Изображения -->
	<Resources type="Image" directory="textures">
		<Resource name="icon" ext="png" />
	</Resources>
	
	<!-- Текстуры -->
	<Resources type="Texture" directory="textures">
		<Resource name="spritelist" ext="png"/>
		<Resource name="player" ext="png"/>
		<Resource name="test" ext="png" />
		<Resource name="box" ext="png" />
	</Resources>
	
	<!-- Звуковые эффекты -->
	<Resources type="Sound" directory="audio">
		<Resource name="step" ext="wav"/>
		<Resource name="explosion" ext="wav"/>
		<Resource name="music" ext="wav"/>
	</Resources>
	
	<!-- Музыка -->
	<Resources type="Music" directory="audio">
		<Resource name="ambient" ext="wav"/>
	</Resources>
	
	<!-- Шрифты -->
	<Resources type="Font" directory="fonts">
		<Resource name="pixel_font" ext="ttf"/>
	</Resources>
	
    <!-- Настройки окна -->
    <GameWindow>
        <Window name="Test level" w="1280" h="720" vSynch="false" icon="icon" />
    </GameWindow>
	
	<!-- ОПИСАНИЕ СПРАЙТОВЫХ АНИМАЦИЙ -->
	<!-- Спрайтлист с анимациями игрока -->
	<Spritesheet name="player animation" texture="player" x_offset="0" y_offset="0" width="66" height= "66" scale="2">
		<Animation name="Idle" num_frames="1" frame_time_ms="100">
			<Up row_index=3/>
			<Down row_index=0/>
			<Left row_index=1/>
			<Right row_index=2/>
		</Animation>
		<Animation name="Walk" num_frames="4" frame_time_ms="200">
			<Up row_index=3/>
			<Down row_index=0/>
			<Left row_index=1/>
			<Right row_index=2/>
		</Animation>
    </Spritesheet>
	
	<!-- ОПИСАНИЕ ДЕЙСТВИЙ -->
	<!-- Действия игрока -->
	<Actions>
		<MoveLeft> 
			<Move entity="player" x="-1" y="0"/>
			<Sound name="step" />
		</MoveLeft>
		<MoveRight> 
			<Move entity="player" x="1" y="0"/>
			<Sound name="step" />
		</MoveRight>
		<MoveUp> 
			<Move entity="player" x="0" y="-1"/>
			<Sound name="step" />
		</MoveUp>
		<MoveDown> 
			<Move entity="player" x="0" y="1"/>
			<Sound name="step" />
		</MoveDown>
	</Actions>
	<!-- УРПАВЛЕНИЕ: Привязка клавиш к действиям -->
	<Controls>
		<A action="MoveLeft"/>
		<D action="MoveRight"/>
		<W action="MoveUp"/>
		<S action="MoveDown"/>
	</Controls>
	
	<!-- ИГРОВЫЕ ОБЪЕКТЫ -->
    <!-- Игрок -->
	<Entity name="player">
		<Body type="dynamic" width="100" height="100" x="100" y="100" />	
		<Animation name="player animation"/>
		<Camera/>
	</Entity>
	
	<!-- Квадрат с текстурой пола -->
	<Entity name="ground"> 
		<Shape width="1000" height="1000" x="500" y="0" texture="test" />
	</Entity>
	
	<!-- Нижняя стена -->
	<Entity name="bottom wall">
		<Body type="static" width="1000" height="10" x="500" y="500" />	
		<Shape width="1000" height="10" />
	</Entity>
	
	<!-- Верхняя стена -->
	<Entity name="top wall">
		<Body type="static" width="1000" height="10" x="500" y="-500" />	
		<Shape width="1000" height="10" />	
	</Entity>
	
	<!-- Правая стена -->
	<Entity name="right wall">
		<Body type="static" width="10" height="1000" x="1000" y="0" />	
		<Shape width="10" height="1000" />	
	</Entity>
	
	<!-- Левая стена -->
	<Entity name="left wall">
		<Body type="static" width="10" height="1000" x="0" y="0" />	
		<Shape width="10" height="1000" />
	</Entity>
</Settings>